<% if @events.empty? %>
	<div class="row">
		<div class="small-12 large-12 columns no_events">
			<img src="<%= image_path('sad_face.png') %>" alt="Sad face :(">
			<p>No events within the last 6 hours :(</p>
		</div>
	</div>
<% else %>
	<% @events.each_with_index do |e, i| %>
		<% estimated_predators = e.estimated_predators %>
		<div class="row event" data-id="<%= i %>">
			<div class="small-12 column">
				<div class="row">
					<div class="small-12 large-12 columns titlebar_container">
						<div class="titlebar">
							<%= e.title %>
						</div>
					</div>
				</div>
				<div class = "panel">
					<div class = "row">
						<div class = "small-12 medium-6 columns">
							<div class="map-canvas" id="map-<%= i %>"></div>
						</div>

						<div class="small-12 medium-6 columns">
							<table>
								<tbody>
									<tr>
										<td>
											<h5 class="title"><b><%= link_to e.friendly_foods, 'javascript: void(0);' %></b></h5>
											<p class="info"><%= e.friendly_location %>. Sent at <%= e.friendly_datetime %></p>
										</td>
									</tr>
								</tbody>
							</table>

							<table>
								<tbody>
									<tr>
										<th>Transport</th>
										<th>ETA</th>
										<th>Cost</th>
									</tr>
									<tr>
										<td class="walking_link"><a href="javascript: void(0); ">Walking</a></td>
										<td class="walking_eta"></td>
										<td class="walking_exp"></td>
									</tr>
									<tr>
										<td class="biking_link"><a href="javascript: void(0); ">Bicycling</a></td>
										<td class="biking_eta"></td>
										<td class="biking_exp"></td>
									</tr>
									<tr>
										<td class="ubering_link"><a href="javascript: void(0); ">UberX</a></td>
										<td class="ubering_eta"></td>
										<td class="ubering_exp"></td>
									</tr>
								</tbody>
							</table>

							<table>
								<tbody>
									<tr>
										<td class="predator-td">
											Estimated competitors: <span class="predators"><%= estimated_predators[0].round(2) %></span></td>
									</tr>
								</tbody>
							</table>

							<table>
								<tbody>
									<tr>
										<td class='percentage_bar_container'>
											<div class='percentage_text_container <%= "claimed" if e.claimed %>'>
												<% if e.claimed %>
													<span>Taken or partially taken</span>
												<% else %>
													Chance: <span class="percentage">...</span>%
												<% end %>
											</div>
											<div class="percentage_bar <%= "claimed" if e.claimed %>"></div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="email_overlay">
				<% e.raw.lines.each do |l| %>
					<p><%= l %></p>
				<% end %>
			</div>
		</div>

	<% end %>
<% end %>
