<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA0jFXeAmOIIV4mjhKkOE0CTFXv2K-XNnw"></script>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      <div class="row">
        <div class="small-12 large-12 columns">
          <h1>BeaverDash</h1>
        </div>
      </div>
    </header>

    <hr>

    <%= yield %>

    <hr>

    <footer>
      <div class="row">
        <div class="small-12 large-12 columns">
          Copyright BeaverDash 2014.  Made at HackMIT.
        </div>
      </div>
    </footer>
    <%= javascript_include_tag "application" %>
  </body>
</html>