<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? "BeaverDash - " + yield(:title) : "BeaverDash" %></title>

    <%= include_gon %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      <nav class="top-bar">
        <div class="row">
          <ul class="small-7 columns title-area">
            <li class="name">
              <h1>BeaverDash <small>Revolutionizing Free Food and Reuse at MIT</small></h1>
            </li>
          </ul>
          <section class="top-bar-section">
            <ul class="right">
              <li>
                <% if @fitbit_link.nil? %>
                  Signed in to Fitbit
                <% else %>
                  <a href="<%= @fitbit_link %>">Sign in to Fitbit</a>
                <% end %>
              </li>
            </ul>
          </section>
        </div>
      </nav>
    </header>

    <% if flash[:success] %>
      <div class="row">
        <div class="small-12 columns success_banner"><%= flash[:success] %></div>
      </div>
    <% end %>

    <%= yield %>

    <footer>
      <div class="row">
        <div class="small-12 columns">
          Copyright BeaverDash 2014.  Built at HackMIT by Phoebe Cai, Connor Duffy, Mitchell Gu, and Jiahao Li.
        </div>
      </div>
    </footer>
    <%= javascript_include_tag "application" %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA0jFXeAmOIIV4mjhKkOE0CTFXv2K-XNnw"></script>
  </body>
</html>