<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      <div class="row">
        <div class="small-3 large-2 columns">
        <div class="hide-for-small-only">
          <h3><img src="https://dl.dropboxusercontent.com/u/31822930/MIT-logo-lightgray-white-large.png" /><h3>
        </div>
        </div>
        <div class="small-3 large-2 columns">
        <div class="show-for-small-only">
          <h3>-<h3>
        </div>
        </div>
        <div class="small-9 large-5 columns">
          <h1>BeaverDash</h1>
        </div>
        <div class="small-12 large-5 columns">
          <% if @fitbit_link.nil? %>
            <p class="fitbit">Signed in to Fitbit</p>
          <% else %>
            <p class="fitbit"><a href="<%= @fitbit_link %>">Sign in to Fitbit</a></p>
          <% end %>
          <h2>Revolutionizing Free Food and Reuse at MIT</h2>
        </div>
      </div>
    </header>

    <hr>

    <% if flash[:success] %>
      <div class="row">
        <div class="small-12 large-12 columns success_banner"><%= flash[:success] %></div>
      </div>
    <% end %>

    <%= yield %>

    <hr>

    <footer>
      <div class="row">
        <div class="small-12 large-12 columns">
          Copyright BeaverDash 2014.  Built at HackMIT by Phoebe Cai, Connor Duffy, Mitchell Gu, and Jiahao Li.
        </div>
      </div>
    </footer>
    <%= javascript_include_tag "application" %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA0jFXeAmOIIV4mjhKkOE0CTFXv2K-XNnw"></script>
  </body>
</html>